.linkstl {
    /* border: solid 1px green; */
    display: inline-block;
    width: 10%;
    
    align-items: center;
}
.gristl {
    /* border: solid 1px red; */
   


}
/* .ques {
    background-image:url("image-from-rawpixel-id-3399774-jpeg.jpg");
    border: solid 2px black;
    
} */
/* .ant-card-grid {
    width: 20% !important;
    height: 10%;
} */