.demo {}

.three {
    width: 20%;
}

.question {
    margin-bottom: 3%;
    margin-left: 3%;
}

.print {
    border: 1px solid rgb(114, 143, 236);
    padding: 2%;

}

.que {
    padding: 2%;
    margin-bottom: 2%;
}

.eqa {
    border: 2px solid rgb(114, 143, 236);
    padding: 2%;
    

}

.gridStyle {
    width: 95% !important;
    text-align: center;
    display: block;
    margin: 2%;
    background: #124395;
    color: white;
}

.gridStyle:hover {}

.nextQue {
    margin-left: 70%;
    margin-top: 4%
}

.activeGridStyle {
    width: 95% !important;
    text-align: center;
    display: block;
    margin: 2%;
    cursor: pointer;
    background: white;
    color: #194aa1;
    box-shadow: 0 0 6px rgb(152 255 40) !important;

}

.ant-card-grid {
    border-radius: 3px !important;
    padding: 15px !important;
    border: solid 2px black !important;
}

.ant-layout-header {
    background: #124395;
}

/* the below three is for styling animation in right wrong option     heart class  */
.heart {
    color: black;
  
    visibility: hidden;
    
    cursor: pointer;
  
   width: 40px;
  
   z-index: 123;
   padding-right: 0px;
   margin-right: 0px;
   position: absolute;
    
    
  }
  .heartb  {
    /* border: solid 2px green; */
    visibility: visible;
    width: 100px;
   /* height: 100px; */
  /* transform: rotateY(360deg) ; */
  transform: scale(2,2);
    transition-duration: 0.5s;
    /* transition-delay: 2s; */
    z-index: 123;
    padding-right: 0px;
   margin-right: 0px;
  }
  .hearta {
    /* border: solid 2px green; */
    visibility: visible;
    width: 100px;
   /* height: 100px; */
  transform: rotateY(360deg) ;
  /* transform: scale(2,2); */
    transition-duration: 0.5s;
    /* transition-delay: 2s; */
    z-index: 123;
    padding-right: 0px;
   margin-right: 0px;
  
    
  }
  
 .stepheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:550
 }
 .backstyle {

 } 
 .backstylehide {
    visibility: hidden;
    height: 0px !important;
 }
  
*{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.myRadio {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-style: italic;
  }